{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<div class="container  ">
    <h1 class="mt-4"> Ma commade  </h1>
	<div class="row">

		 {{ form_start(formCommande, {'attr' : {'novalidate': 'novalidate'}} ) }}
		<div class="text-danger">
			{{ form_errors(formCommande) }}
		</div>
		{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
	</div>
	<div class="row">
	
		<div class="col-md-6 my-2 ">

			{{ form_label(formCommande.adresse_de_livraison) }}
			{{ form_widget(formCommande.adresse_de_livraison) }}
			{{ form_errors(formCommande.adresse_de_livraison) }}
		</div>
	</div>
	<div class="row">
	   <div class=" col-md-6 my-2 ">

			{{ form_label(formCommande.adresse_de_facturation) }}
			{{ form_widget(formCommande.adresse_de_facturation) }}
			{{ form_errors(formCommande.adresse_de_facturation) }}
		</div>
		
		
	</div>
	<div class="row">
      <div class=" col-md-4 my-2 ">
		{{ form_label(formCommande.mode_de_paiement) }}
			{{ form_widget(formCommande.mode_de_paiement) }}
			{{ form_errors(formCommande.mode_de_paiement) }}
	</div>
	</div>
		<div class="row">
      <div class=" col-md-4 my-2 ">
		{{ form_label(formCommande.accepte_cgu) }}
			{{ form_widget(formCommande.accepte_cgu) }}
			{{ form_errors(formCommande.accepte_cgu) }}
	</div>
	</div>
		<div class="col mt-4 d-flex justify-content-end">
    <button type="submit" class="btn btn-success btn-lg">Payer ma commande</button>
</div>

{{ form_end(formCommande) }}


{% if app.flashes('success') is not empty %}
    <div class="alert alert-success mt-4">
        {{ app.flashes('success')[0] }}
        
    </div>
{% endif %}
	{{ form_end(formCommande) }}

</div>
{% endblock %}